{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now 'U' %}">
</head>
<body>
    <h1>Conway's Game of Life</h1>

    <input type="number" id="size" placeholder="Grid size">
    <button id="size_submit">Enter</button>

    <div id="grid"></div>

    <button id="start_stop">Start</button>
    <button id="next">Next</button>
    <button id="clear">Clear</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}?{% now 'U' %}"></script>
</body>
</html>