body {
    text-align: center;
}

h1 {
    color: blue;
}

#grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 15px;
}

.row {
    display: flex;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;

    cursor: pointer;
}

.dead {
    background-color: beige;
}

.alive {
    background-color: aqua;
}